<div class="app-sidebar col-lg-2 col-md-2">

    <div class="app-section">
        <span class="app-label">Mailboxes</span>

        <ul>
            <li data-href="{{ path('inbox') }}" id="sidebar-nl-unified">
                <i class="fa fa-inbox"></i>
                Inbox
            </li>
            {% for acc in accounts %}
                <li data-href="{{ path('inbox_account', {'accountId': acc.accountId}) }}" id="sidebar-nl-{{ acc.accountId }}">
                    <i class="fa fa-inbox"></i>
                    {{ acc.shortName|default(acc.emailAddress)|truncate(20) }}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="app-divider"></div>

    <div class="app-section">
        <ul>
            <li data-href="#">
                <i class="app-font-warning fa fa-circle"></i>
                Tagged
            </li>
            <li data-href="#">
                <i class="app-font-info fa fa-circle"></i>
                Unread
            </li>
            <li data-href="#">
                <i class="app-font-success fa fa-circle"></i>
                Today
            </li>
        </ul>
    </div>

    <div class="app-section">
        <span class="app-label">Accounts</span>

        <ul>
            {% for acc in accounts %}
                <li data-href="#">
                    <i class="fa fa-at"></i>
                    {{ acc.shortName|default(acc.emailAddress)|truncate(20) }}
                </li>
            {% endfor %}
        </ul>

        <div class="app-link-box">
            <a class="btn btn-link" href="{{ path('accounts_create', {'step': 'nylas'}) }}">
                <i class="fa fa-plus"></i>
                Add Account
            </a>
        </div>

    </div>

</div>
